.ver-producto__contenido {
    display: flex;
    padding: 0 5%;
    justify-content: center;
    font-family: 'Raleways', sans-serif;
    color: #464646;
}

.ver-producto__imagen {
    width: 20vw;
    padding: 1rem 2rem 0.5rem;
}

.ver-producto__descripcion {
    display: flex;
    flex-direction: column;
}

.ver-producto__titulo {
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.ver-producto__precio {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.ver-producto__texto {
    width: 30vw;
    padding-bottom: 1rem;
}